body{
    background: url(../images/fon.png) no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

/*HEADER*/

.header{
    width: 100%;
    border: 0px solid black;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
}



.header-iner{
    display: flex;
    justify-content: space-between;
}

.container{
    width: 1600px;
    margin: 0 auto;
    
}

.logo{
    margin-top: 30px;
    height: 58px;
}

.header .logo{
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    color: #fff; 
    
}

.header-iner a{
    transition: color 0.1s linear;
}

.logo a{
    text-decoration: none;
    color: #fff;
    
}

.header-iner .logo :hover {
    color: #01813F; 
    opacity: 0.61;
}

.header-text-left{
    font-weight: 400;
    font-size: 14px;
    margin-top: 30px;
    margin-left: 20px;
    border-left: 1px solid #fff;
    padding-left: 35px;
    line-height: 20px;
    
}

.header-text-left a,p{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    transition: color 0.1s linear;
    
}

.header-text .header-text-left :hover{
    color: #01813F;
    opacity: 0.41;  
}

.nav{
    display: flex;
     
}

.calendar {
    width: 21px;
    height: 24px;
    margin: 0 20px;
    margin-top: 28px;
    
}

.calendar svg path{
    color: #fff;
    transition: fill 0.2s;
}

.calendar :hover svg path{
    fill: #01813F;
    opacity: 0.41;
}

.mail {
    width: 21px;
    height: 24px;
    margin: 0 20px;
    margin-top: 28px;
    
}

.mail svg path{
    color: #fff;
    transition: fill 0.2s;
}

.mail :hover svg path{
    fill: #01813F;
    opacity: 0.41;
}

.compas {
    width: 21px;
    height: 24px;
    margin: 0 20px;
    margin-top: 28px;
    
}

.compas svg path{
    color: #fff;
    transition: fill 0.2s;
}

.compas :hover svg path{
    fill: #01813F;
    opacity: 0.41;
}

/*MAIN*/

main {
    width: 444px;
    height: 584px;
    margin: 100px auto;
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    
}


.main-text{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 10px;
    margin-left: 55px;
    margin-right: 55px;
   
}

.box{
    background-color: #3CB878;
    width: 18px;
    height: 18px;
    color: #3CB878;
    position: absolute;
    margin-top: 30px;
}

.main-text h1{
    font-size: 20px;
    font-weight: 400;
    
}

.main-text a{
    color: #3CB878;
    text-decoration: none;
    transition: color 0.1s linear;
    font-size: 14px;
    font-weight: 400;
   
}

.main-text a:hover {
    text-decoration: underline;
    color: #01813F
}



.btn-login{
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;

}

.btn-facebook{
    width: 160px;
    height: 48px;
    background-color: #305DB8;
    border: none; 
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    border-radius: 5px;
    padding-right: 35px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: start;   
    position: relative;
    overflow: hidden;
}



.facebook-login img {
    padding-right: 15px;
    margin-right: 5px;
    border-right: 1px solid #3d3d3d31;
    
    
}

.facebook-login span{
    margin-top: 5px;
    position: absolute;
    padding-left: 15px;
    
    
}

.btn-google{
    width: 160px;
    height: 48px;
    background-color: #DF4A32;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400; 
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: start;  
}

.google-login img {
    padding-right: 15px;
    margin-right: 5px;
    border-right: 1px solid #3d3d3d31; 
    width: 33px;
    height: 24px; 
    padding-left: 5px;
}

.google-login span{ 
    position: absolute;
    padding-left: 15px; 
    padding-top: 5px; 
    
}

.facebook-login :hover {
    background-image: url(../images/button_fb.svg);
    transition-duration: 100ms;
}

.google-login :hover {
    background-image: url(../images/button_google.svg);
    transition-duration: 100ms;
}

.or {
    text-align: center;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 5px;
    
  }
  
  h3 {
    display: inline-block;
    position: relative;
    color: #848484;
    opacity: 0.6;
    
  }
  
  h3:before,
  h3:after {
    content: '';
    position: absolute;
    top: 50%;
    height: 1px;
    background: #3d3d3d25;
    
  }
  
  h3:before {
    right: 100%;
    left: -1000%;
  }
  
  h3:after {
    left: 100%;
    right: -1000%;
  }

  /*FOOTER*/


  .form-item{
    text-align: center;
    
  }

  .form-item input{
    opacity: 0.8;
  }

  .form-item-box input{
    width: 322px;
    height: 44.083px;
    margin: 5px;
    padding-left: 20px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    font-family: 'Ubuntu', sans-serif;
    color: #434343;
  }

  input {outline:none;}

  .form-item-box :hover{
    fill: #FFF;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
    transition-duration: 300ms;
    color: #434343;
    
}

/*CHECKBOX*/


.checkbox input[type="checkbox"] {
    display: none;
  }
  
  .checkbox-custom {
    content: ''; 
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #47474738; 
    position: relative;
    margin-right: 5px; 
    vertical-align: middle;
  }
  
  
  .checkbox-custom::before {
    content: '\2713'; 
    font-size: 17px;
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    padding-left: 2px;
    padding-bottom: 10px;
  }
  
  .checkbox input[type="checkbox"]:checked + .checkbox-custom::before {
    color: #3CB878; 
  }

.checkbox-text{
    color: #3CB878;
    text-decoration: none;
}

.checkbox-text:hover{
    text-decoration: underline;
    color: #01813F;
    transition-duration: 300ms;
}

.checkbox{
    text-align: start;
    margin-left: 50px;
    margin-top: 5px;
    color: #434343;
    
    
}

/*BUTTON*/

.button {
    margin: 0 auto;
    text-align: center;
    margin-top: 25px;
    height: auto;
    
    
}

.button-bottom {
    display: flex;
    justify-content: center;
}

.btn-create {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #3CB878CC; 
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    width: 345px ;
    border: none;
}

.button :hover {
    background-color: #01813F ;
    width: 345px ;
    margin: 0 auto;
    border-radius: 4px;
    transition-duration: 400ms;
}